.fetched-movie-card {
  align-items: flex-start;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
}

.fetched-movie-card-description {
  padding: 10px 20px;
  position: relative;
  width: 70%;
}

.fetched-movie-card-actions {
  left: 20px;
  position: absolute;
  top: 100px;
}

.fetched-movie-card-action {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  padding: 7.5px 15px;
}

.fetched-movie-card-action:focus {
  outline: 0;
}

.fetched-movie-card-action.is-not-saved {
  background-color: transparent;
  border-color: #E91E63;
}

.fetched-movie-card-action.is-saved {
  background-color: #E91E63;
  border-color: transparent;
}

.fetched-movie-card-action-icon {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.fetched-movie-card-action.is-not-saved .fetched-movie-card-action-label:before {
  color: #E91E63;
  content: "Add to watch list";
}

.fetched-movie-card-action.is-saved .fetched-movie-card-action-label:before {
  color: #FFFFFF;
  content: "Saved!";
}
