.empty-list-container {
  left: 0;
  padding: 0 25px;
  position: fixed;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.empty-list-text-wrapper {
  margin-bottom: 10px;
}

.empty-list-title {
  color: #4C4C4C;
  display: block;
}

.empty-list-message {
  display: block;
}
