.nav-tab-link {
  align-items: center;
  background: #FFFFFF;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #E5E5E5;
  cursor: pointer;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  height: 48px;
  justify-content: center;
}

.nav-tab-icon {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 20px;
  margin: 0 auto;
  width: 20px;
}

.nav-tab-icon.is-explore {
  background-image: url('./assets/explore-icon.svg');
}

.nav-tab-icon.is-saved {
  background-image: url('./assets/saved-icon.svg');
}

.nav-tab-link.is-active .nav-tab-icon.is-explore {
  background-image: url('./assets/explore-icon-active.svg');
}

.nav-tab-link.is-active .nav-tab-icon.is-saved {
  background-image: url('./assets/saved-icon-active.svg');
}

.nav-tab-label {
  color: #7F7F7F;
  display: block;
  font-size: 10px;
}

.nav-tab-link.is-active .nav-tab-label {
  color: #E91E63;
}
